<%- include("./header/header") %>

<div class="container mt-5">
    <form action="/send" method="POST">
        <div class="form-group">
            <label for="string">Your feedback- Please right as much as you can thank you for your coperation 😊</label>
            <input type="string" name="message" class="form-control" id="message">
          
        </div>
   
        <button type="submit" class="btn btn-primary">Send feedback</button>
    </form>
  </div>

